src/main/mule/mdp-orders-prc-api-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
       <flow name="mdp-orders-prc-api-main">
        <http:listener config-ref="mdp-orders-prc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="initVariables" doc:id="3e9c1122-3654-4e77-936f-78bde03733dd" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="apiKickOffTime" ><![CDATA[%dw 2.0
import * from dw::util::Timer
output application/json
---
currentMilliseconds()]]></ee:set-variable>
				<ee:set-variable variableName="resourcePath" ><![CDATA[%dw 2.0
output application/json
---
attributes.requestPath]]></ee:set-variable>
				<ee:set-variable resource="dwl/loggingVars.dwl" variableName="loggingVars" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="common-process-start-logging-subflow" doc:id="1f9accb4-b0a8-4f2e-888b-00e4a209d29a" name="common-process-start-logging-subflow"/>
		<apikit:router config-ref="mdp-orders-prc-api-config" />
        <flow-ref doc:name="common-process-end-logging-subflow" doc:id="a5149d37-18c9-4c88-9788-2c5dd763c986" name="common-process-end-logging-subflow"/>
    </flow>
    <flow name="mdp-orders-prc-api-console">
        <http:listener config-ref="mdp-orders-prc-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mdp-orders-prc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\orders:application\json:mdp-orders-prc-api-config">
		<flow-ref doc:name="mdp-orders-patch-subflow" doc:id="9f0d088a-fec3-4e58-99bd-064880b71091" name="mdp-orders-patch-subflow"/>
    </flow>
    <flow name="get:\healthcheck:mdp-orders-prc-api-config">
		<flow-ref doc:name="mdp-orders-healthcheck-subflow" doc:id="b6de7ce0-05f3-44cb-ad16-842065a0367f" name="mdp-orders-healthcheck-subflow"/>
    </flow>
    <flow name="get:\orders:mdp-orders-prc-api-config">
		<flow-ref doc:name="mdp-orders-get-subflow" doc:id="1b85e34c-17bd-4677-820c-5df76a59c831" name="mdp-orders-get-subflow"/>
    </flow>
    <flow name="get:\ping:mdp-orders-prc-api-config">
		<flow-ref doc:name="mdp-orders-ping-subflow" doc:id="507d513d-c947-4e2a-867c-d170390f5d4b" name="mdp-orders-ping-subflow"/>
    </flow>
    <flow name="get:\orders\(order_id):mdp-orders-prc-api-config">
		<flow-ref doc:name="mdp-orders-ping-subflow" doc:id="58c93fd8-5c75-41de-8950-6b6041299a46" name="mdp-orders-getid-subflow"/>
    </flow>
    <flow name="post:\orders:application\json:mdp-orders-prc-api-config">
		<flow-ref doc:name="mdp-orders-post-subflow" doc:id="ed5896a6-b4ef-4c74-830d-bf71f17c2a19" name="mdp-orders-post-subflow"/>
    </flow>
</mule>
